[Unit]
Description=Daily Commit backup

[Timer]
OnCalendar=*-*-* 04:17:00 UTC
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=timers.target
